<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">



  <Product Id="*" Name="Psistats" Language="1033" Version="0.0.10.0" Manufacturer="Psikon" UpgradeCode="5f5a71c7-cbeb-4e61-967c-4a44936beb3c">
    <Package Id="*" Keywords="Installer" Description="Psikon Presents: Psistats Monitoring System" Manufacturer="Psikon" InstallerVersion="200" Compressed="no" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" />
    
      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFilesFolder">
          <Directory Id="ProgramFilesCompanyFolder" Name="Psikon">
            <Directory Id="INSTALLFOLDER" Name="Psistats" />
          </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ProgramMenuCompanyFolder" Name="Psikon">
            <Directory Id="ApplicationProgramsFolder" Name="Psistats" />
          </Directory>
        </Directory>
      </Directory>      
        
      <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <Component Id="AppComponent">
          <File Id="App" Name="$(var.App.TargetFileName)" Source="$(var.App.TargetPath)" DiskId="1" />
        </Component>
        <Component Id="ServiceComponent">
          <File Id="Service" Name="$(var.Service.TargetFileName)" Source="$(var.Service.TargetPath)" DiskId="1" />
          <ServiceInstall
            Id="ServiceInstaller"
            Type="ownProcess"
            Vital="yes"
            Name="PsistatsService"
            DisplayName="PsistatsService"
            Description="Psistats service that reports computer vitals to a rabbitmq server"
            Start="auto"
            Account="LocalSystem"
            ErrorControl="normal"
            Interactive="no"
            />
          <ServiceControl Id="ServiceControl" Name="Psistats" Remove="uninstall" Stop="both" Wait="yes" />
        </Component>
        <Component Id="CommonLibComponent">
          <File Id="Common" Name="$(var.Common.TargetFileName)" Source="$(var.Common.TargetPath)" DiskId="1" />
        </Component>
        <Component Id="MessageQueueComponent">
          <File Id="MessageQueue" Name="$(var.MessageQueue.TargetFileName)" Source="$(var.MessageQueue.TargetPath)" DiskId="1" />
        </Component>
        <Component Id="ServiceCLIComponent">
          <File Id="PsistatsServiceCLI" Name="$(var.PsistatsServiceCLI.TargetFileName)" Source="$(var.PsistatsServiceCLI.TargetPath)" DiskId="1" />
        </Component>
        <Component Id="OpenHardwareMonitorLibComponent">
          <File Id="OpenHardwareMonitorLib" Name="$(var.OpenHardwareMonitorLib.TargetFileName)" Source="$(var.OpenHardwareMonitorLib.TargetPath)" DiskId="1" />
        </Component>
        <Component Id="ConfigLibComponent" Guid="BCE0E6AC-8799-46D8-8984-EF79B0A0F2D7">
          <RegistryValue Root="HKLM" Key="SOFTWARE\Psikon\Psistats" Value="[AppDataFolder]\Psikon\Psistats\psistats.xml" Type="string" Name="config" KeyPath="yes" />
        </Component>
      </ComponentGroup>

      <Component Id="ProgramMenuCompanyFolderComponent" Directory="ProgramMenuCompanyFolder">
        <RegistryValue Root="HKCU" Key="Software\Psikon\Psistats" Name="InstallVersion" Value="[ProductVersion]" Type="string"/>
        <RemoveFolder Id="RemoveProgramMenuCompanyFolder" On="uninstall" />
      </Component>
    
      <Component Id="ProgramFilesCompanyFolderComponent" Directory="ProgramFilesCompanyFolder">
        <RegistryValue Root="HKCU" Key="Software\Psikon\Psistats" Name="InstallFolder" Value="[AppDataFolder]\Psikon\Psistats" Type="string" />
        <RemoveFolder Id="RemoveProgramFilesCompanyFolder" On="uninstall" />
      </Component>

      <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="*">
          <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="Psistats"
                    Description="Psistats Computer Monitoring"
                    Target="[#App]"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>

          
          <RegistryValue Root="HKCU" Key="Software\Psikon\Psistats" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </DirectoryRef>
    
    <Feature Id="MainApplication" Title="Psistats Installer" Level="1">
      <ComponentRef Id="ProgramMenuCompanyFolderComponent"/>
      <ComponentRef Id="ProgramFilesCompanyFolderComponent"/>
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>
  </Product>
</Wix>