PsikonStats.sdf
PsikonStats.suo
PsikonStats.v11.suo
Installer/bin/*
Installer/obj/*
PsistatsApp/bin/*
PsistatsApp/obj/*
PsistatsCommon/bin/*
PsistatsCommon/obj/*
PsistatsService/bin/*
PsistatsService/obj/*
MessageQueue/obj/*
MessageQueue/bin/*
ServiceCLI/obj/*
ServiceCLI/bin/*
AppTest/obj/*
AppTest/bin/*
**/TestResults/*
**/packages/*
**/*.svn
env.properties