Bootstrapper/bin/*
Bootstrapper/obj/*
PsikonStats.sdf
PsikonStats.suo
PsikonStats.v11.suo
Psistats.Installer/bin/*
Psistats.Installer/obj/*
PsistatsApp/bin/*
PsistatsApp/obj/*
PsistatsCommon/bin/*
PsistatsCommon/obj/*
PsistatsService/bin/*
PsistatsService/obj/*
rmqinstaller/obj/*
rmqinstaller/bin/*
MessageQueue/obj/*
MessageQueue/bin/*
ServiceCLI/obj/*
ServiceCLI/bin/*
PsistatsApp/PsikonStats_TemporaryKey.pfx
open-hardware-monitor/Bin/*
open-hardware-monitor/obj/*
**/*.svn
env.properties