<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Psistats Installer" Version="0.0.10.0" Manufacturer="Psikon" UpgradeCode="1fee5220-dffd-4805-a360-577974c3b64a"
          AboutUrl="http://www.psikon.com/"
          >
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(sys.SOURCEFILEDIR)license.rtf"
        LogoFile="$(sys.SOURCEFILEDIR)logo.png"
        />
      
    </BootstrapperApplicationRef>
  
		<Chain>
      <PackageGroupRef Id="NetFx40Redist"/>
      <MsiPackage
        SourceFile="$(var.Installer.TargetPath)" />
		</Chain>
	</Bundle>
</Wix>